# 연습문제1

## ch02 연습문제

#### Q1 홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.

In [1]:
a=[80,75,55]
total=a[0]+a[1]+a[2]
avg=total/len(a)
avg

70.0

#### Q2 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.

In [2]:
if(13%2==0) :
    print("even")
else : 
    print("odd")

odd

#### Q3 홍길동 씨의 주민등록번호는 881120-1068234이다. 
#### 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

In [3]:
hong="881120-1068234"
date=hong[0:6]
theother=hong[7:]
print(date)
print(theother)

881120
1068234

#### Q4 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

In [4]:
sex=hong[7]
if sex=='1' : 
    print('man')
else : 
    print('women')
print(sex)

man
1

#### Q5 다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.

In [5]:
st='a:b:c:d'
st.replace(':','#')

'a#b#c#d'

#### Q6 [1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.

In [6]:
li= [1, 3, 5, 4, 2]
li.sort()
li.reverse()
print(li)

[5, 4, 3, 2, 1]

#### Q7 ['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.

In [7]:
lis=['Life', 'is', 'too', 'short'] 
s=lis[0]+' '+lis[1]+' '+lis[2]+' '+lis[3]
print(s)

Life is too short

#### Q8 (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.

In [8]:
tu=(1,2,3)
tup=(4,)
t=tu+tup
print(t)

(1, 2, 3, 4)

#### Q9 다음과 같은 딕셔너리 a가 있다.
a = dict()

a

#다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.

a['name'] = 'python'

a[('a',)] = 'python'

a[[1]] = 'python'

a[250] = 'python'

In [9]:
a=dict()
a[[1]]='python' ## key값으로는 list 사용 불가

TypeError: unhashable type: 'list'

#### Q10 딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.
a = {'A':90, 'B':80, 'C':70}

In [10]:
a = {'A':90, 'B':80, 'C':70}
a['B']

80

#### Q11 a 리스트에서 중복 숫자를 제거해 보자.
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

In [11]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
ss=set(a)
print(ss)

{1, 2, 3, 4, 5}

#### Q12 파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 
#### 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 
#### 그리고 이런 결과가 오는 이유에 대해 설명해 보자.
#a = b = [1, 2, 3]
#a[1] = 4
#print(b)

In [13]:
b=[4.1.3] # => 동일객체를 참조하고 있기 때문

SyntaxError: invalid syntax (<ipython-input-13-4f139e0f7b7e>, line 1)

## Ch03_연습문제

Q1. 다음 코드의 결과값은 무엇일까?

In [15]:
a = "Life is too short, you need python"

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt") #
elif "need" in a: print("need")
else: print("none")

shirt

Q2. while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 보자.

In [16]:
sum=0
for i in range(1001):
    if(i%3==0):
        sum+=i
print(sum)

166833

Q3. while문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성해 보자.

In [17]:
for i in range(6):
    print('*'*isum=0
for i in range(1001):
    if(i%3==0):
        sum+=i
print(sum))

SyntaxError: invalid syntax (<ipython-input-17-acc4d1a9c47c>, line 3)

Q4. for문을 사용해 1부터 100까지의 숫자를 출력해 보자.

In [18]:
for i in range(101):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

Q5. A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.

[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

for문을 사용하여 A 학급의 평균 점수를 구해 보자.

In [19]:
li=[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
sum=0
avg=0
for i in li:
    sum+=i
avg=sum/len(li)
print(avg)

79.0

Q6. 리스트 중에서 홀수에만 2를 곱하여 저장하는 다음 코드가 있다.

In [29]:
numbers = [1, 2, 3, 4, 5]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)
print(result)

[2, 6, 10]

In [30]:
numbers = [1, 2, 3, 4, 5]
result = [num*2 for num in numbers if num%2==1]
print(result)

[2, 6, 10]

## Ch03 연습문제

1. 리스트를 만들고 출력하는 방식이다. 오류가 나는 부분을 고르시오.

In [31]:
aa=[10,20,30]
print(aa[0])
print(aa[1])
print(aa[2])
print(aa[3]) #오류

10
20
30

IndexError: list index out of range

2. 빈 리스트를 100개만들고 길이를 구하는 코드이다. 빈칸을 예에서 골라서 채우시오

In [32]:
myList=[]
for i in range(0,100):
    myList.append(0)
len(myList)

100

3. 사용자가 숫자를 3개 입력하고  입력한 숫자의 합계를 구하는 코드이다 빈칸을 for문으로 완성하시오

In [33]:
myList=[]
for i in range(0,3):
    myList.append(0)
hap=0

for i in range(0,3):
    myList[i]=int(input(str(i+1)+"번째 숫자 : "))
for k in range(0,3):
     hap=hap+myList[k]
print("합계 ==> %d" %hap)

1번째 숫자 : 1
2번째 숫자 : 2
3번째 숫자 : 3
합계 ==> 6