# Ch02_datatype

## 02-1 숫자형

In [1]:
#8진수(Octal)를 만들기 위해서는 숫자가 0o 또는 0O(숫자 0 + 알파벳 소문자 o 또는 대문자 O)로 시작하면 된다.

print(0o177)
#16진수(Hexadecimal)를 만들기 위해서는 0x로 시작하면 된다.

print(0x8ff)
print(0xABC)

127
2303
2748

### 연산자

#### x의 y 제곱 :**

In [2]:
a=3
b=4
a**b

81

#### 나눗셈 후 나머지를 반환하는 %

In [3]:
7%3

1

In [4]:
3%7

3

#### 나눗셈 후 몫을 반환하는 //

In [5]:
7//4

1

## 02-2 문자열 자료형

In [6]:
"""Lift is too short, You need python"""

'Lift is too short, You need python'

In [7]:
food="Python's favorite food is perl"
food

"Python's favorite food is perl"

In [8]:
food='Pythong\'s favorite food is perl'
say="\"Python is very easy\" he says."
print(food)
print(say)

Pythong's favorite food is perl
"Python is very easy" he says.

#### 줄바꾸기

In [9]:
multiline="Life is too short\n You need python"
print(multiline)

Life is too short
 You need python

In [10]:
multiline ='''Life is too shrot
you need python
'''
print(multiline)

Life is too shrot
you need python

## 문자열 연산하기

In [11]:
head="python " 
tail="is fun!"
head+tail

'python is fun!'

In [12]:
a="python"
print(a*2)

pythonpython

In [13]:
#multistring.py
print("="*50)
print("My Program")
print("="*50)

==================================================
My Program
==================================================

In [14]:
a="Life is too short"
len(a)

17

### 문자열 인덱싱과 슬라이싱

In [15]:
a="Life is too short, You need Python"
print(a[3])
print(a[-2])
print(a[0]+a[1]+a[2]+a[3])
print(a[0:4])#0 <= a < 3
print(a[19:])
print(a[:17])
print(a[:])
print( a[19:-7])

e
o
Life
Life
You need Python
Life is too short
Life is too short, You need Python
You need

In [16]:
a = "20010331Rainy"
date=a[:8]
weather=a[8:]
print(date)
print(weather)
year=a[:4]
day=a[4:8]
weater=a[8:]
print(year)
print(day)
print(weater)

20010331
Rainy
2001
0331
Rainy

### 문자열 바꾸기

In [17]:
a="Pithon"
a=a[:1]+'y'+a[2:]
print(a)

Python

### 문자열 포매팅

In [18]:
"I eat %d apples." % 3

'I eat 3 apples.'

In [19]:
"I eat %s apples." % "five"

'I eat five apples.'

In [20]:
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

In [21]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

In [22]:
"Error is %d%%." % 98 #%%두개 주의하기

'Error is 98%.'

### 포맷 코드와 숫자 함꼐 사용하기
#### 1.정렬과 공백

In [23]:
"%10s"%"hi"

'        hi'

In [24]:
"%-10sjane." % 'hi'

'hi        jane.'

#### 2. 소수점 표현하기

In [25]:
"%0.4f" % 3.42134234

'3.4213'

In [26]:
 "%10.4f" % 3.42134234

'    3.4213'

### format 함수를 사용한 포매팅

#### 숫자 바로 대입하기

In [27]:
 "I eat {0} apples".format(3)

'I eat 3 apples'

In [28]:
"I eat {0} apples".format("five")

'I eat five apples'

In [29]:
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

#### 2개 이상의 값 넣기

In [30]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

#### 이름으로 넣기

In [31]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

#### 인덱스와 이름을 혼용해서 넣기

In [32]:
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

#### 왼쪽 정렬

In [33]:
"{0:<10}".format("hi")

'hi        '

#### 오른쪽 정렬

In [34]:
 "{0:>10}".format("hi")

'        hi'

#### 가운데 정렬

In [35]:
 "{0:^10}".format("hi")

'    hi    '

#### 공백 채우기

In [36]:
"{0:=^10}".format("hi")

'====hi===='

In [37]:
 "{0:!<10}".format("hi")

'hi!!!!!!!!'

#### 소수점 표현하기

In [38]:
y = 3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [39]:
y = 3.42134234
"{0:10.4f}".format(y)

'    3.4213'

In [40]:
 "{{ and }}".format()

'{ and }'

### f 문자열 포매팅

In [41]:
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [42]:
age = 30
f'나는 내년이면 {age+1}살이 된다.'

'나는 내년이면 31살이 된다.'

In [43]:
d = {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [44]:
print(f'{"hi":<10}')  # 왼쪽 정렬

print(f'{"hi":>10}')  # 오른쪽 정렬

print(f'{"hi":^10}')  # 가운데 정렬

hi
        hi
    hi

In [45]:
print(f'{"hi":=^10}')  # 가운데 정렬하고 '=' 문자로 공백 채우기
print(f'{"hi":!<10}')  # 왼쪽 정렬하고 '!' 문자로 공백 채우기

====hi====
hi!!!!!!!!

In [46]:
y = 3.42134234
print(f'{y:0.4f}')  # 소수점 4자리까지만 표현
print(f'{y:10.4f}')  # 소수점 4자리까지 표현하고 총 자리수를 10으로 맞춤

3.4213
    3.4213

In [47]:
print( f'{{ and }}')

{ and }

### 문자열 관련 함수들

#### 문자 개수 세기(count)

In [48]:
a = "hobby"
a.count('b')

2

#### 위치 알려주기1(find)

In [49]:
a = "Python is the best choice"
print(a.find('b'))
print(a.find('k'))

14
-1

#### 위치 알려주기2(index)

In [50]:
a = "Life is too short"
print(a.index('t'))
#print(a.index('k')) #error

8

#### 문자열 삽입(join)

In [51]:
 ",".join('abcd')

'a,b,c,d'

In [52]:
",".join(['a', 'b', 'c', 'd'])

'a,b,c,d'

#### 소문자를 대문자로 바꾸기(upper)

In [53]:
a = "hi"
a.upper()

'HI'

#### 대문자를 소문자로 바꾸기(lower)

In [54]:
a = "HI"
a.lower()

'hi'

#### 왼쪽 공백 지우기(lstrip)

In [55]:
a = " hi "
a.lstrip()

'hi '

#### 오른쪽 공백 지우기(rstrip)

In [56]:
a= " hi "
a.rstrip()

' hi'

#### 양쪽 공백 지우기(strip)

In [57]:
a = " hi "
a.strip()

'hi'

#### 문자열 바꾸기(replace)

In [58]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

#### 문자열 나누기(split)

In [59]:
 a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [60]:
b = "a:b:c:d"
b.split(':')

['a', 'b', 'c', 'd']

## 02-3 리스트 자료형

In [61]:
odd = [1, 3, 5, 7, 9]
print(odd)

[1, 3, 5, 7, 9]

In [62]:
a = []
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]
print(a)
print(b)
print(c)
print(d)
print(e)

[]
[1, 2, 3]
['Life', 'is', 'too', 'short']
[1, 2, 'Life', 'is']
[1, 2, ['Life', 'is']]

### 리스트의 인덱싱과 슬라이싱

In [63]:
a = [1, 2, 3]
a

[1, 2, 3]

In [64]:
print(a[0])
print(a[0] + a[2])
print(a[-1])

1
4
3

In [65]:
a = [1, 2, 3, ['a', 'b', 'c']]
print(a[-1][0])
print(a[-1][1])

a
b

In [66]:
a = [1, 2, ['a', 'b', ['Life', 'is']]] # 삼중리스트에서 인덱싱하기
a[2][2][0]

'Life'

#### 리스트의 슬라이싱

In [67]:
a = [1, 2, 3, 4, 5]
print(a[0:2])
b = "12345"
print(b[0:2])

[1, 2]
12

In [68]:
a = [1, 2, 3, 4, 5]
b = a[:2]
c = a[2:]
print(b)
print(c)

[1, 2]
[3, 4, 5]

In [69]:
#[중첩된 리스트에서 슬라이싱하기]
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
print(a[2:5])
print(a[3][:2])

[3, ['a', 'b', 'c'], 4]
['a', 'b']

### 리스트 연산하기

#### 리스트 더하기(+)

In [70]:
>>> a = [1, 2, 3]
>>> b = [4, 5, 6]
>>> a + b

[1, 2, 3, 4, 5, 6]

#### 리스트 반복하기(*)

In [71]:
>>> a = [1, 2, 3]
>>> a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [72]:
### 리스트의 수정과 삭제

In [73]:
#### 리스트에서 값 수정하기

In [74]:
>>> a = [1, 2, 3]
>>> a[2] = 4
>>> a

[1, 2, 4]

#### del 함수 사용해 리스트 요소 삭제하기

In [75]:
>>> a = [1, 2, 3]
>>> del a[1]
>>> a

[1, 3]

In [76]:
>>> a = [1, 2, 3, 4, 5]
>>> del a[2:]
>>> a

[1, 2]

### 리스트 관련 함수들

#### 리스트에 요소 추가(append)

In [77]:
a = [1, 2, 3]
>>> a.append(4)
>>> print(a)
a.append([5,6])
>>> print(a)

[1, 2, 3, 4]
[1, 2, 3, 4, [5, 6]]

#### 리스트 정렬(sort)

In [78]:
>>> a = [1, 4, 3, 2]
>>> a.sort()
>>> a

[1, 2, 3, 4]

In [79]:
>>> a = ['a', 'c', 'b']
>>> a.sort()
>>> a

['a', 'b', 'c']

#### 리스트 뒤집기(reverse)

In [80]:
>>> a = ['a', 'c', 'b']
>>> a.reverse()
>>> a

['b', 'c', 'a']

In [81]:
#### 위치 반환(index)
>>> a = [1,2,3]
>>> print(a.index(3))
>>> print(a.index(1))

2
0

#### 리스트에 요소 삽입(insert)

In [82]:
>>> a = [1, 2, 3]
>>> a.insert(0, 4)
>>> a

[4, 1, 2, 3]

In [83]:
>>> a.insert(3, 5)
>>> a

[4, 1, 2, 5, 3]

#### 리스트 요소 제거(remove)

In [84]:
>>> a = [1, 2, 3, 1, 2, 3]
>>> a.remove(3)
>>> print(a)
>>> a.remove(3)
>>> print(a)

[1, 2, 1, 2, 3]
[1, 2, 1, 2]

#### 리스트 요소 끄집어내기(pop)

In [85]:
>>> a = [1,2,3]
>>> a.pop()
>>> a

[1, 2]

In [86]:
>>> a = [1,2,3]
>>> print(a.pop(1))
>>> print(a)

2
[1, 3]

#### 리스트에 포함된 요소 x의 개수 세기(count)

In [87]:
>>> a = [1,2,3,1]
>>> a.count(1)

2

#### 리스트 확장(extend)

In [88]:
>>> a = [1,2,3]
>>> a.extend([4,5])
>>> print(a)
>>> b = [6, 7]
>>> a.extend(b)
>>> print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7]

## 02-4 튜플 자료형

##리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.

In [89]:
>>> t1 = ()
>>> t2 = (1,)
>>> t3 = (1, 2, 3)
>>> t4 = 1, 2, 3
>>> t5 = ('a', 'b', ('ab', 'cd'))

#### 1. 튜플 요솟값을 삭제하려 할 때

In [90]:
t1 = (1, 2, 'a', 'b')
>>> del t1[0]

TypeError: 'tuple' object doesn't support item deletion

#### 2. 튜플 요솟값을 변경하려 할 때

In [91]:
>>> t1 = (1, 2, 'a', 'b')
>>> t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment

### 튜플 다루기

#### 인덱싱하기

In [94]:
>>> t1 = (1, 2, 'a', 'b')
>>> print(t1[0])
>>> print(t1[3])

1
b

#### 슬라이싱하기

In [95]:
>>> t1 = (1, 2, 'a', 'b')
>>> t1[1:]

(2, 'a', 'b')

#### 튜플 더하기

In [96]:
>>> t1 = (1, 2, 'a', 'b')
>>> t2 = (3, 4)
>>> t1 + t2

(1, 2, 'a', 'b', 3, 4)

#### 튜플 곱하기

In [97]:
>>> t2 = (3, 4)
>>> t2 * 3

(3, 4, 3, 4, 3, 4)

#### 튜플 길이 구하기

In [98]:
>>> t1 = (1, 2, 'a', 'b')
>>> len(t1)

4

## 02-5 딕셔너리 자료형

### 딕셔너리 만들기

In [99]:
>>> dic = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
print(dic)

{'name': 'pey', 'phone': '0119993323', 'birth': '1118'}

In [100]:
>>> a = {1: 'a'}
>>> a[2] = 'b'
>>> a

{1: 'a', 2: 'b'}

In [101]:
>>> a['name'] = 'pey'
>>> a

{1: 'a', 2: 'b', 'name': 'pey'}

In [102]:
>>> a[3] = [1,2,3]
>>> a

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

####  딕셔너리 요소 삭제하기

In [103]:
>>> del a[1]
>>> a
{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [ ]:
### 딕셔너리를 사용하는 방법

In [ ]:
#### 딕셔너리에서 Key 사용해 Value 얻기

In [104]:
>>> grade = {'pey': 10, 'julliet': 99}
>>> print(grade['pey'])
>>> print(grade['julliet'])

10
99

In [105]:
>>> a = {1:'a', 2:'b'}
>>> print(a[1])
>>> print(a[2])

a
b

In [106]:
>>> dic = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
>>> print(dic['name'])
>>> print(dic['phone'])
>>> print(dic['birth'])

pey
0119993323
1118

#### 딕셔너리 만들 때 주의할 사항

In [107]:
#먼저 딕셔너리에서 Key는 고유한 값이므로 중복되는 Key 값을 설정해 놓으면 하나를 제외한 나머지 것들이 모두 무시된다는 점을 주의
>>> a = {1:'a', 1:'b'}
>>> a

{1: 'b'}

In [108]:
>>> a = {[1,2] : 'hi'} #키값으로 list 불가능

TypeError: unhashable type: 'list'

### 딕셔너리 관련 함수들

####  Key 리스트 만들기(keys)

In [111]:
>>> a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
>>> a.keys()

dict_keys(['name', 'phone', 'birth'])

#### Value 리스트 만들기(values)

In [112]:
>>> a.values()

dict_values(['pey', '0119993323', '1118'])

#### Key, Value 쌍 얻기(items)

In [113]:
>>> a.items()

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

#### Key: Value 쌍 모두 지우기(clear)

In [116]:
>>> a.clear()
a

{}

#### Key로 Value얻기(get)

In [115]:
>>> a = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
>>> a.get('name')
>>> a.get('phone')

'0119993323'

In [119]:
>>> a = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
>>> print(a.get('nokey'))

None

In [118]:
>>> a.get('foo', 'bar')  #안에 찾으려는 Key 값이 없을 경우 미리 정해 둔 디폴트 값

'bar'

#### 해당 Key가 딕셔너리 안에 있는지 조사하기(in)

In [122]:
a = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
print('name' in a)
print('email' in a)

True
False

## 02-6 집합 자료형

In [126]:
>>> s1 = set([1,2,3])
>>> s1

{1, 2, 3}

In [127]:
>>> s2 = set("Hello")
>>> s2

{'H', 'e', 'l', 'o'}

### 집합 자료형의 특징

In [125]:
s1 = set([1,2,3])
l1 = list(s1)
print(l1)
print(l1[0])

t1 = tuple(s1)
print(t1)
print(t1[0])

[1, 2, 3]
1
(1, 2, 3)
1

### 교집합, 합집합, 차집합 구하기

In [128]:
>>> s1 = set([1, 2, 3, 4, 5, 6])
>>> s2 = set([4, 5, 6, 7, 8, 9])

#### 1. 교집합

In [129]:
>>> s1 & s2

{4, 5, 6}

In [130]:
>>> s1.intersection(s2)

{4, 5, 6}

#### 2. 합집합

In [131]:
>>> s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [132]:
>>> s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

#### 3. 차집합

In [133]:
>>> s1 - s2

{1, 2, 3}

In [134]:
>>> s2 - s1

{7, 8, 9}

In [139]:
>>> s1.difference(s2)

{1, 2, 3}

In [140]:
>>> s2.difference(s1)

{7, 8, 9}

### 집합 자료형 관련 함수들

####  값 1개 추가하기(add)

In [141]:
>>> s1 = set([1, 2, 3])
>>> s1.add(4)
>>> s1

{1, 2, 3, 4}

#### 값 여러 개 추가하기(update)

In [142]:
>>> s1 = set([1, 2, 3])
>>> s1.update([4, 5, 6])
>>> s1

{1, 2, 3, 4, 5, 6}

#### 특정 값 제거하기(remove)

In [143]:
>>> s1 = set([1, 2, 3])
>>> s1.remove(2)
>>> s1

{1, 3}

## 02-7 불 자료형

### 자료형의 참과 거짓

In [144]:
>>> a = [1, 2, 3, 4]
>>> while a:
...     print(a.pop())

4
3
2
1

### 불 연산

In [145]:
>>> bool('python')

True

In [146]:
>>> bool('')

False

In [147]:
>>> bool([1,2,3])

True

In [148]:
>>> bool([])

False

In [149]:
>>> bool(0)

False

## 02-8 자료형의 값을 저장하는 공간, 변수

### 리스트를 복사하고자 할 때

In [151]:
>>> a = [1,2,3]
>>> b = a 
>>> print(id(a))
>>> print(id(b)) # =>즉 a가 가리키는 대상과 b가 가리키는 대상이 동일

369036593544
369036593544

In [152]:
>>> a is b  # a와 b가 가리키는 객체는 동일한가?

True

In [153]:
>>> a[1] = 4 #a, b 모두 동일한 리스트를 가리키고 있기 때문
>>> print(a)
>>> print(b)# a만 바뀌는 것이 아니라 b도 똑같이 바뀌었다.

[1, 4, 3]
[1, 4, 3]

#### 1. [:] 이용

##### 리스트 전체를 가리키는 [:]을 사용해서 복사

In [157]:
>>> a = [1, 2, 3]
>>> b = a[:]
>>> a[1] = 4
>>> print(a)
>>> print(b) # a 리스트 값을 바꾸더라도 b 리스트에는 영향을 끼치지 않는다.

[1, 4, 3]
[1, 2, 3]

#### 2. copy 모듈 이용

In [158]:
from copy import copy
>>> b = copy(a)
>>> b is a

False

### 변수를 만드는 여러 가지 방법

In [160]:
a, b = ('python', 'life')
print(a)   
print(b)

python
life

In [162]:
(a, b) = 'python', 'life'
print(a)   
print(b)

python
life

In [163]:
[a,b] = ['python', 'life']
print(a)   
print(b)

python
life

In [164]:
a = b = 'python'
print(a)   
print(b)

python
python

In [165]:
>>> a = 3
>>> b = 5
>>> a, b = b, a
>>> print(a)
>>> print(b) # 변수의 값을 아주 간단히 바꿀 수 있다.

5
3

### 02-8-2 Casting

In [6]:
a=int(input("1st number : "))
b=int(input("2nd number : "))
result=a+b
print(result)
print(a,"+",b,"=",result)

1st number : 5
2nd number : 2
7
5 + 2 = 7

In [4]:
a=int(input("1st number : "))
b=int(input("2nd number : "))
def add(a,b):
    return a+b
print(add(a,b))

1st number : 5
2nd number : 2
7

In [20]:
# 숫자와 문자열 사이의 형변환 
iNumber=int('7')
print(iNumber,type(iNumber))

iFloat=float(iNumber)
print(iFloat,type(iFloat))

iStr=str(iNumber)
print(iStr,type(iStr))

print('-'*20)
#list &tuple 사이의 형변환
mylist=[1,2,3]
print(mylist, type(mylist))
mytuple=tuple(mylist)
print(mytuple, type(mytuple))

7 <class 'int'>
7.0 <class 'float'>
7 <class 'str'>
--------------------
[1, 2, 3] <class 'list'>
(1, 2, 3) <class 'tuple'>

## 02장 연습문제

#### Q1 홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.

In [169]:
a=[80,75,55]
total=a[0]+a[1]+a[2]
avg=total/len(a)
avg

70.0

#### Q2 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.

In [172]:
if(13%2==0) :
    print("even")
else : 
    print("odd")

odd

#### Q3 홍길동 씨의 주민등록번호는 881120-1068234이다. 
#### 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

In [176]:
hong="881120-1068234"
date=hong[0:6]
theother=hong[7:]
print(date)
print(theother)

881120
1068234

#### Q4 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

In [185]:
sex=hong[7]
if sex=='1' : 
    print('man')
else : 
    print('women')
print(sex)

man
1

#### Q5 다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.

In [187]:
st='a:b:c:d'
st.replace(':','#')

'a#b#c#d'

#### Q6 [1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.

In [194]:
li= [1, 3, 5, 4, 2]
li.sort()
li.reverse()
print(li)

[5, 4, 3, 2, 1]

#### Q7 ['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.

In [193]:
lis=['Life', 'is', 'too', 'short'] 
s=lis[0]+' '+lis[1]+' '+lis[2]+' '+lis[3]
print(s)

Life is too short

#### Q8 (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.

In [196]:
tu=(1,2,3)
tup=(4,)
t=tu+tup
print(t)

(1, 2, 3, 4)

#### Q9 다음과 같은 딕셔너리 a가 있다.
a = dict()

a

#다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.

a['name'] = 'python'

a[('a',)] = 'python'

a[[1]] = 'python'

a[250] = 'python'

In [198]:
a=dict()
a[[1]]='python' ## key값으로는 list 사용 불가

TypeError: unhashable type: 'list'

#### Q10 딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.
a = {'A':90, 'B':80, 'C':70}

In [200]:
a = {'A':90, 'B':80, 'C':70}
a['B']

80

#### Q11 a 리스트에서 중복 숫자를 제거해 보자.
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

In [205]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
ss=set(a)
print(ss)

{1, 2, 3, 4, 5}

#### Q12 파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 
#### 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 
#### 그리고 이런 결과가 오는 이유에 대해 설명해 보자.
#a = b = [1, 2, 3]
#a[1] = 4
#print(b)

b=[4.1.3] => 동일객체를 참조하고 있기 때문

In [208]:
a=[1,2,['a','b',['Life','is']]]
print(a[-1][2][0])

Life